@font-face{
	font-family: "Oswald";
	src: url("../fonts/Oswald/Oswald-Bold.ttf");
	src: url("../fonts/Oswald/Oswald-Regular.ttf");
}

body{
	font-family: "Oswald", Arial, Helvetica, sans-serif;
	margin: 0;
	background-color: #FFFFFF;
}

h1{
	font-weight: normal;
	font-size: 70px;
	margin: 0;
}

h2{
	font-size: 32px;
}

h3{
	font-size: 30px;
}

ul{
	margin: 0;
	padding: 0;
}

p{
	font-family: Arial;
	margin: 0;
}

a{
	text-decoration: none;
	color: inherit;
}

.main-container{
	min-width: 768px;
	max-width: 1170px;
	margin: 0 auto;
}

.fullscreen-container{
	min-width: 768px;
}

.clearfix:after{
	content: "";
	display: block;
	clear: both;
}

.header{
	color: #474444;
}

.header__title{
	padding-bottom: 6px;
	float: left;
}

.header__char{
	color: #FD5433;
}

.header__menu{
	float: right;
}

.menu__list{
	list-style-type: none;
}

.menu__list-item{
	display: inline-block;
	vertical-align: top;
	font-weight: bold;
	font-size: 17px;
	cursor: pointer;
}

.menu__link{
	display: inline-block;
	vertical-align: top;
	padding: 42.5px 15px;
}

.menu__link:hover{
	background-color: #FD5433;
	color: #FFFFFF;
}

.menu__link:focus{
	outline: none;
	background-color: #FD5433;
	color: #FFFFFF;
}

.home-container{
	background-image: url("../images/Banner_IMG.png");
	background-color: #515151;	
	background-repeat: no-repeat;
	background-size: cover;	
}

.home__mask{
	background-color: rgba(0, 0, 0, .3);
}

.home__content{
	padding: 282.5px 0;
}

.home__inner{
	position: relative;
	text-align: center;
}

.home__text{
	color: #FFFFFF;
	font-size: 120px;
}

.home__link{
	background-color: #FD5433;
	color: #FFFFFF;
	font-size: 32px;
	font-weight: bold;
	padding: 5px 66px;
	border-radius: 5px;
	position: absolute;
	left: 39%;
	bottom: -78px;
	transition-duration: .7s;
}

.home__link:hover{
	background-color: #C94120;
	transform: scale(1.1);
}

.home__link:focus{
	outline: none;
	background-color: #C94120;
	transform: scale(1.1);
}

.section__title{
	color: #FD5433;
	text-align: center;
}

.services__container{
	border-top: 1px solid #828282;
	border-bottom: 1px solid #828282;
}

.services__inner{
	padding: 62px 0px;
}

.services__item{
	width: 31%;
	margin-right: 3%;
	display: inline-block;
	vertical-align: top;
}

.services__item:last-child{
	margin-right: 0;
}

.service{
	text-align: center;
}

.service__link{
	display: inline-block;
	vertical-align: top;
}

.service__link:hover{
	outline: 2px solid #FD5433;
}

.service__link:focus{
	outline: 2px solid #FD5433;
}

.service__title{
	color: #3D3C3C;
	margin: 35px 0;
	text-align: center;
}

.service__content{
	padding: 0 30px;
}

.portfolio__inner{
	text-align: center;
}

.portfolio__link{
	display: inline-block;
	vertical-align: top;
	margin-bottom: -5px;
	margin-left: -4px;
	transition-duration: 1s;
}

.portfolio__link:hover{
	opacity: .5;
}

.portfolio__link:focus{
	outline: none;
	opacity: .5;
}

.portfolio__image{
	width: 237px;
	height: 250px;
}