.header{
	color: #474444;
	min-width: 798px;
}

.header__container{
	display: flex;
	justify-content: space-between;
}

.header__logo{
	font-weight: normal;
}

.header__char{
	color: @additional-color;
}

.header__list{
	font-family: "Oswald";
	font-weight: bold;
	margin-top: 0;
	margin-bottom: 0;
	padding-left: 0;
	font-size: 17px;
}

.header__list-item{
	display: inline-block;
}

.header__link{
	display: inline-block;
	padding: 42.5px 15px;

	&:hover{
		background-color: @additional-color;
		color: @main-color;
	}

	&:focus{
		outline: none;
		background-color: @additional-color;
		color: @main-color;
	}
}