.header{
	color: #474444;
	background-color: @main-color;
	width: 100%;
}

.header__container{
	display: flex;
	justify-content: space-between;
}

.header__logo{
	font-weight: normal;
}

.header__char{
	color: @additional-color;
}

.header__list{
	font-family: "Oswald";
	font-weight: bold;
	margin-top: 0;
	margin-bottom: 0;
	padding-left: 0;
	font-size: 1.062em;
}

.header__list-item{
	display: inline-block;
}

.header__link{
	display: inline-block;
	padding: 42.5px 15px;

	&:hover{
		background-color: @additional-color;
		color: @main-color;
	}

	&:focus{
		outline: none;
		background-color: @additional-color;
		color: @main-color;
	}
}

.header__label{
	display: inline-block;
	content: "";
	width: 25px;
	height: 3px;
	background-color: @additional-color;
	position: relative;
	top: 30%;
	cursor: pointer;
}

.header__label:before{
	display: block;
	content: "";
	width: 25px;
	height: 3px;
	background-color: @additional-color;
	position: relative;
	bottom: 5px;
}

.header__label:after{
	display: block;
	content: "";
	width: 25px;
	height: 3px;
	background-color: @additional-color;
	position: relative;
	top: 70%;
}

.header__checkbox{
	display: none;
}

@media screen and(min-width: 700px) {
	.header__hamburger{
		display: none;
	}
}

@media screen and(max-width: 699px) {
	.header{
		position: fixed;
		border-bottom: 1px solid @additional-color;
		z-index: 1;
	}

	.header__logo{
		font-size: 2.375em;
	}

	.header__menu{
		display: none;
	}
}