.header{
	color: #474444;
	min-width: 798px;
}

.header__inner{
	display: flex;
	justify-content: space-between;
}

.header__logo{
	font-weight: normal;
	font-size: 4.375em;
}

.header__char{
	color: @color-orange;
}