.home{
	background-image: url("../images/Banner_IMG.png");
	background-color: @color-mask;
	background-size: cover;
	min-width: 798px;
	box-shadow: inset 0px 0px 0px 9999px rgba(0, 0, 0, .33);
	padding-top: 195px;
	padding-bottom: 369px;
	text-align: center;
	font-family: "Oswald";
	color: @color-white;
}

.home__inner{
	margin-top: 48px;
}

.home__slogan{
	font-size: 120px;
}

.home__link{
	font-size: 32px;
	display: inline-block;
	vertical-align: top;
	padding-right: 66px;
	padding-left: 66px;
	border-radius: 5px;
	box-shadow: inset 0px 3px 12px -3px @color-white;

	&:hover{
		background-color: @color-dark-orange;
	}

	&:focus{
		outline: none;
		background-color: @color-dark-orange;
	}
}