.services{
	border-bottom: 1px solid @color-gray;
}

.services__container{
	padding-top: 62px;
	padding-bottom: 62px;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.services__item{
	padding-top: 196px;
	margin-top: 30px;
	background-repeat: no-repeat;
	background-position-x: center;
	background-size: 50%;
	text-align: center;
}

.services__item_pc{
	background-image: url("../images/desktop.svg");
}

.services__item_pen{
	background-image: url("../images/pen.svg");
}

.services__item_mic{
	background-image: url("../images/mic.svg");
}

.services__title{
	color: @color-dark-gray;
	font-size: 1.875em;
}

.services__content{
	margin-top: 26px;
}

@media screen and(min-width: 700px) {
	.services__item{		
		width: 31.62393%;

		&:nth-child(1){
			margin-top: 0;
		}

		&:nth-child(2){
			margin-top: 0;
		}

		&:nth-child(3){
			margin-top: 0;
		}
	}
}

@media screen and(max-width: 699px) {
	.services__container{
		padding-top: 20px;
		padding-bottom: 20px;
	}

	.services__item{
		margin-top: 20px;
		padding-top: 175px;
		background-size: 30%;

		&:first-child{
			margin-top: 0;
		}
	}
}

@media screen and(max-width: 299px) {
	.services__item{
		padding-top: 85px;
	}

	.services__content{
		margin-top: 13px;
	}
}